<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.prj_02"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="preferExternal">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:label="DB" android:icon="@drawable/ic_launcher">
        <activity android:name="MainActivity"
                  android:label="DB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="AddNewActivity"
                  android:label="DB">
        </activity>
    </application>
</manifest>
